body {
  background-color: rgb(0, 0, 0);
}
.navbarColor {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 38%,
    rgba(242, 108, 38, 1) 100%
  );
}

.buttonDetail {
  border: solid 1px #d35f21;
  color: #d35f21;
  font-weight: 600;
}
.buttonDetail:hover {
  background-color: #d35f21;
  color: black;
}

.buttonDeleteProduct {
  border: solid 1px #d35f21;
  color: #d35f21;
  font-weight: 600;
}
.buttonDeleteProduct:hover {
  background-color: #d35f21;
  color: black;
}

.bgModal {
  background-color: #d35f21;
}

footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 38%,
    rgba(242, 108, 38, 1) 100%
  );
  padding: 10px;
}

.borderCar {
  border: solid 2px #d35f21;
}
